# <span style="color:darkblue"> Lecture 3 Exercises </span>



## Short Questions

<font size = "5">

1. What is a codebook?
2. How you define a missing value in Python?
2. What is chaining?

In [ ]:
# Write your answers here as comments

## Long Questions

<font size = "5">

Import the libraries "numpy" and "pandas"

In [1]:
# Write your own code
import pandas as pd
import numpy as np

<font size = "5">

(a) Replace values from intervals

<font size = "3">

- Import the dataset "data_raw/students.csv" to a new object "students"
- Use "pd.cut()" to assign the column "numericgrade" to a letter grade <br>
using the following table

<img src="figures/grading_scale.png" alt="drawing" width="600"/>

In [4]:
# Write your own code
# Import the dataset
df = pd.read_csv("data_raw/students.csv")

# Define bins and labels according to the grading scale
bins = [0, 54, 59, 64, 69, 74, 79, 82, 86, 92, 100]
labels = ["F", "D", "C-", "C", "C+", "B-", "B", "B+", "A-", "A"]

# Assign letter grades using pd.cut
df["letter_grade"] = pd.cut(df["numericgrade"], bins=bins, labels=labels, right=True, include_lowest=True)

df.head()

   studentid  numericgrade letter_grade
0          1            61           C-
1          2             0            F
2          3            14            F
3          4            57            D
4          5            72           C+

<font size = "5">

For questions (b)-(e) use "results.csv", <br>
a dataset on competitive car racing

Import the dataset "data/raw_results.csv" to <br>
 a new object "results"

<font size = "5">

(b) Check column types

<font size = "3">

- View the dataset
- Use the function "results.dtypes" to get the column types
- Search for the "results" table in "codebook/f1_codebook.pdf".
- Does the type of the "milliseconds" column agree with the codebook? <br>
i.e. is it an integer, float, or string/object?


HINT: See Lectures 13 and 14 for how to interpret the codebook

In [7]:
# Write your own code

results = pd.read_csv("data_raw/results.csv")
results.dtypes
# View the first few rows of the dataset
results.head()

# The dtype of the "milliseconds" column is:
print("milliseconds dtype:", results["milliseconds"].dtype)

# According to the codebook, "milliseconds" should be an integer.
# In the dataset, it is currently of type 'object' (string), so it does NOT agree with the codebook.

milliseconds dtype: object

<font size = "5">

(c) Clean a column

<font size = "3">

- Import the dataset "data_raw/results.csv" to a new object "results"
- Our goal is to replace any string values in the column "milliseconds" <br>
to missing values (NaNs) and covert to numeric
- To do so, go to Lecture 13 and follow the setups under the headings
    - "Extract list of non-numeric values"
    - "Replace certain values"
    - "Convert column to numeric"

HINT: substitute "milliseconds" instead of "alt", <br>
and the dataset "results" instead of "circuits"

In [8]:
# Write your own code

# Extract list of non-numeric values in "milliseconds"
non_numeric = results.loc[~results["milliseconds"].str.isnumeric(), "milliseconds"].unique()
print("Non-numeric values:", non_numeric)

# Replace non-numeric values with np.nan
results.loc[~results["milliseconds"].str.isnumeric(), "milliseconds"] = np.nan

# Convert the column to numeric
results["milliseconds"] = pd.to_numeric(results["milliseconds"])

Non-numeric values: ['\\N']

<font size = "5">

(d) Groupby + Aggregate

<font size = "3">

- Compute the mean and standard deviation of "laps", <br>
grouping by "constructorId". Store the new dataset <br>
as "results_agg"
- Sort the aggregate dataset in decending <br>
order of mean laps using ".sort_values()"

HINT: See Lecture 14 <br>

In [9]:
# Write your own code

results_agg = results.groupby("constructorId")["laps"].agg(['mean', 'std'])
results_agg.sort_values("mean", ascending=False)

                     mean        std
constructorId
149            198.500000   2.121320
112            197.000000   4.242641
109            184.285714  32.912583
119            178.666667  36.950417
108            163.764706  63.148168
...                   ...        ...
71               0.000000        NaN
61               0.000000   0.000000
74               0.000000   0.000000
69               0.000000        NaN
47               0.000000   0.000000

[210 rows x 2 columns]

<font size = "5" >

(e) Query + Groupby + Aggregate

<font size = "3">

- Use ".query()" to subset observations with <br>
'race_id >= 200'
- Compute the mean and standard deviation of "laps", <br>
grouping by "constructorId". Store the new dataset <br>
as "results_agg"

Hint: See Lecture 11 (to refresh ".query()") and <br>
Lecture 14 for how to combine it with ".groupby()"

In [11]:
# Write your own code
results_agg = results.query('raceId >= 200').groupby("constructorId")["laps"].agg(['mean', 'std'])
results_agg

                    mean        std
constructorId
1              50.093510  23.147774
3              51.349621  21.064902
4              46.396450  22.565290
5              51.787879  18.281774
6              50.305798  25.953854
...                  ...        ...
209            52.282051  19.522147
210            51.434028  19.915741
211            54.684211  17.680279
213            52.393443  19.883361
214            54.204545  17.951505

[201 rows x 2 columns]


<font size = "5">

(f) Replace the values of a column

<font size = "3">

- Import the "data_raw/constructor_standings.csv" file
- Replace the values "E" with 11 in the column "positionText"
- Create a new column "positionNumeric" that converts <br>
the modified "positionText" column from string to numeric <br>
using ```pd.to_numeric()```

In [12]:
# Write your own code
constructor_standings = pd.read_csv("data_raw/constructor_standings.csv")
constructor_standings["positionText"] = constructor_standings["positionText"].replace("E", 11)
constructor_standings["positionNumeric"] = pd.to_numeric(constructor_standings["positionText"])

<font size = "5">

(g) Recode a numeric colum

<font size = "3">

- Import the "data_raw/races.csv" file
- Recode the "year" column into a new column "year_brackets" <br>
with the following categories

$\qquad$ ``` ["1950-1970","1971-1990","1991-2005", "2006-2020", "2020-onwards"] ```

$\qquad$ HINT: Use the "pd.cut()" command.

In [13]:
# Write your own code
races = pd.read_csv("data_raw/races.csv")
bins_years = [1950, 1970, 1990, 2005, 2020, races["year"].max()+1]
labels_years = ["1950-1970", "1971-1990", "1991-2005", "2006-2020", "2020-onwards"]
races["year_brackets"] = pd.cut(races["year"], bins=bins_years, labels=labels_years, right=True, include_lowest=True)

<font size = "5">

(h) Aggregate and query

<font size = "3">

- Import the "data_raw/constructor_standings.csv" file
- Subset the observations for 'raceId == 10' using ```.query()```
- Obtain the sum of "points" by "constructorId" <br> 
(the team) using ``` .groupby().agg() ```
- Subset the teams with a sum of points $\ge 50$
- Store the results of all these operations in a dataframe <br>
```constructor_standings_agg ```

In [ ]:
# Write your own code
constructor_standings = pd.read_csv("data_raw/constructor_standings.csv")
constructor_standings_agg = constructor_standings.query('raceId==10').groupby("constructorId")["points"].sum().reset_index()
constructor_standings_agg = constructor_standings_agg[constructor_standings_agg["points"] >= 50]

<font size = "5">

(i) Aggregate and sort

<font size = "3">

- Import the "data_raw/constructor_standings.csv" file
- Obtain the sum of "points" by "constructorId" <br> 
(the team) using ``` .groupby().agg() ```
- Sort the teams in descending order using of <br>
the sum of points using ``` .sort_values() ```

In [16]:
# Write your own code
constructor_standings = pd.read_csv("data_raw/constructor_standings.csv")
constructor_standings_sum = constructor_standings.groupby("constructorId")["points"].sum().reset_index()
constructor_standings_sum = constructor_standings_sum.sort_values("points", ascending=False)

<font size = "5">

(j) Rename column

<font size = "3">

- Import the "data_raw/constructor_standings.csv" file
- Rename the column "wins" to "wins_constructor"

HINT: Create a dictionary and use ```.rename(columns = ...)``` <br>

In [17]:
# Write your own code

constructor_standings = pd.read_csv("data_raw/constructor_standings.csv")
constructor_standings = constructor_standings.rename(columns={"wins": "wins_constructor"})

<font size = "5">

(k) Merge dataset

<font size = "3">

- Import the "data_raw/constructor_standings.csv" and <br>
"data_raw/constructors.csv" files
- Create a new dataset with  ```pd.merge()``` using <br>
"constructor_standings" as the primary dataset, and <br>
"constructors" as the secondary dataset, merging on <br>
the column "constructorId"
- To get full points **ONLY** merge the "nationality" column <br>
from the secondary dataset (not all the columns)

HINT: Use ```[[...]]``` to extract a subset of columns <br>
from the secondary dataset before merging, including the <br>
"constructorId" column

In [18]:
# Write your own code
constructors = pd.read_csv("data_raw/constructors.csv")
new_data = pd.merge(constructor_standings, constructors[["constructorId", "nationality"]], on="constructorId", how="left")