# Lecture 2 Exercises



## Short Questions

<font size = "5">

1. How do you check whether an element is part of a list?
2. How do you reference a global variable in ```.query()```?

In [42]:
# Write your answers here as comments:



## Long Questions

<font size = "5">

Import the pandas and matplotlib packages

In [43]:
# Write your own code

import pandas as pd
import matplotlib.pyplot as plt
import numpy as np

<font size = "5">

(a) Checking a string condition

<font size = "3">

- Define a variable "fruit" with the value "apple"
- Define a list

list_fruits = ["banana","orange","apple"]
- Write an expression to test whether "fruit" is contained in "list_fruits"

Hint: Use the "in" command. The final output should be True/False.

To get full points run all of the above commands

In [44]:
# Write your own code

fruit = 'apple'
list_fruits = ['apple', 'banana', 'orange']
if 'fruit' in list_fruits:
    print('fruit is in the list')
else:
    print('fruit is not in the list')

fruit is not in the list

<font size = "5">

(b) Classifying a variable

<font size = "3">

- Define a new variable "year" an assign the value "2008"
- Write an if/else statement that does the following
    - print("Year 2000 or earlier") if the year is less than or equal to  2000.
    - print("Between 2001 and 2005") if the year is between 2001 and 2005.
    - print("Year 2006 or later") if the year is after 2005.

To get full points you must do all of the above instructions

In [45]:
# Write your own code

year = 2008

if year<= 2000:
    print("Year 2000 or earlier")
elif 2000 < year <= 2005:
    print("Between 2001 and 2005")
else:
    print ("2006 or later")

2006 or later

<font size = "5">

(c) Split a dataset into subsets

<font size = "3">

- Create ``` list_status = [0,1]```
- Create ``` list_prob = [0.5, 0.5]```
- Create a new variable $n = 1000$ with the number of rows of the dataset
- Use 
```python
    np.random.choice(list_status,
                     size = n,
                     p = list_prob)
```
$\qquad$ to create a new column called "status" <br>
$\qquad$ which randomly assigns each row to "0" or "1" <br>
$\qquad$ with equal probability
- Use .query() to subset all observations with status == 0.<br>
store it in a new dataset called "data0"
- Use .query() to subset all observations with status == 1.<br>
store it in a new dataset called "data1"

In [ ]:
# Create a DataFrame with a "status" column
n = 1000
list_status = [0,1]
list_prob = [0.5,0.5]
status = np.random.choice(list_status, size = 1000, p = list_prob)
df_status = pd.DataFrame({'status': status})

# Subset observations with status == 0 and status == 1
data0 = df_status.query('status == 0')
data1 = df_status.query('status == 1')

# Print value counts
print("Number of rows with status == 0:", len(data0))
print("Number of rows with status == 1:", len(data1))

<font size = "5">

For questions (d) through (f) mport the dataset <br>
 "data_raw/fifa23_players_basic.csv"

<font size = "3">

- It's a dataset on professional soccer players
- Rows correspond to players (18,539)
- Columns contain attributes of players (32)
- Try to view the dataset before starting

In [46]:
# Write your own code
df =  pd.read_csv("data_raw/fifa23_players_basic.csv")

<font size = "5">

(d) Create a new dataset subsetting the <br>
players whose age is less than 20

- Read the dataset using `pd.read_csv(df)`
- Subset the players whose "Age" is less than 20 using `.query("Age < 20")`
- Store the result in a new variable, e.g., `young_players`

In [47]:
# Write your own code

young_players = df.query('Age < 20')

<font size = "5">

(e) Use queries + global variables

<font size = "3">

- Compute the mean of the column "Value(in Euro)" <br>
and store it as a variable
- Subset the players whose value is above the mean value <br>
  using ".query()"


HINT: Remember that there is a special syntax for <br>
when the column names have spaces (see Lecture 10) <br>
Reference the column as ``` `Value(in Euro)`    ``` inside .query()

In [48]:
# Compute the mean of the "Value(in Euro)" column
mean_value = df["Value(in Euro)"].mean()

# Subset players whose value is above the mean
above_mean_value = df.query("`Value(in Euro)` > @mean_value")

In [49]:
# Write your own code

<font size = "5">

(f) Use sorting + ".iloc[]"

<font size = "3">

- Use ".sort_values()" to order the "Age" column <br>
from youngest to oldest
- Get a subset with the 5 youngest players

In [50]:
# Write your own code
sorted_age = df.sort_values(by='Age', ascending=True)
youngest_players = sorted_age.iloc[:5]
# Use double brackets to select multiple columns by their exact names
print(youngest_players[['Known As', 'Age']])

               Known As  Age
18524        A. Br√Ænzea   16
18459          E. Topcu   16
18447       Du Yuezheng   16
14747  A. Benyahia-Tani   16
18425         M. Moraru   16

<font size = "5">
For questions (h)-(i), read "data_raw/wdi_2020.csv" <br>
This is a dataset of countries from <br>
the World Development Indicators

<font size = "5">

(g) Extract sorted elements from a dataset

<font size = "3">

- Sort by "prop_urbanpopulation" in descending order
- Subset the 5 countries with the highest urban population

In [51]:
# Write your own code

wdi_2020 = pd.read_csv("data_raw/wdi_2020.csv")
pop_countries = wdi_2020.sort_values(by='prop_urbanpopulation', ascending=False)
highest_countries = pop_countries.iloc[:5]
print(f'Highest countries: {highest_countries}')

Highest countries:      year yearcode           countryname countrycode  prop_urbanpopulation
103  2020   YR2020  Hong Kong SAR, China         HKG                 100.0
147  2020   YR2020      Macao SAR, China         MAC                 100.0
128  2020   YR2020                Kuwait         KWT                 100.0
171  2020   YR2020                 Nauru         NRU                 100.0
164  2020   YR2020                Monaco         MCO                 100.0

<font size = "5">

(h) Subset elements with query

<font size = "3">

- Compute the median of "prop_urbanpopulation"
- Use ".query()" to subset countries with <br>
 "prop_urbanpopulation" above the median

In [52]:
# Write your own code
median_value = wdi_2020['prop_urbanpopulation'].median()
print(median_value)
above_median = wdi_2020.query('prop_urbanpopulation > @median_value')
print(above_median)

60.69872843
     year yearcode            countryname countrycode  prop_urbanpopulation
3    2020   YR2020                Albania         ALB             62.112000
4    2020   YR2020                Algeria         DZA             73.733000
5    2020   YR2020         American Samoa         ASM             87.153000
6    2020   YR2020                Andorra         AND             87.916000
7    2020   YR2020                 Angola         AGO             66.825000
..    ...      ...                    ...         ...                   ...
254  2020   YR2020    Upper middle income         UMC             67.601442
255  2020   YR2020                Uruguay         URY             95.515000
258  2020   YR2020          Venezuela, RB         VEN             88.279000
260  2020   YR2020  Virgin Islands (U.S.)         VIR             95.939000
261  2020   YR2020     West Bank and Gaza         PSE             76.719000

[131 rows x 5 columns]

<font size = "5">

(i) Plot by category

<font size = "3">

- Read "data_raw/wdi_urban.csv"<br>
This contains data from 1980 and 2020

- Create a list with the unique values of "year"
- Create a plot with a ...
    - Histogram of "prop_urbanpopulation" <br>
    for each year
    - Set the histogram option ``` alpha = 0.5 ``` for transparency
    - All the histograms should be overlapping
    - Create a legend with the list of years
    - Label the axes and the title

What do we learn from the graph?

HINT: See the example at the end of Lecture 10

In [ ]:
import plotly.express as px
import pandas as pd

urban_df = pd.read_csv("data_raw/wdi_urban.csv")

fig = px.histogram(
    urban_df,
    x="prop_urbanpopulation",
    color="year",
    nbins=20,
    opacity=0.5,
    barmode="overlay",
    labels={"prop_urbanpopulation": "Proportion Urban Population", "year": "Year"},
    title="Distribution of Urban Population Proportion by Year"
)
fig.show()

# Review of last lecture

<font size = "5">

(k) Composite operations on arrays

<font size = "3">

- Define $r = 0.04$
- Define two arrays $A$ and $T$ using "np.array()", assigning the following values

$ a = \begin{pmatrix} a_0 \\ a_1 \\ a_2 \end{pmatrix} =  \begin{pmatrix} 20 \\ 30 \\ 15 \end{pmatrix},
\qquad  t = \begin{pmatrix} t_0 \\ t_1 \\ t_2 \end{pmatrix} = \begin{pmatrix} 0 \\ 1 \\ 2 \end{pmatrix} $

- Use element-by-element vector operations to compute a new array $M$ of length 3:

$ M = \begin{pmatrix} a_1 / (1+r)^{t_0}  \\ a_2 / (1+r)^{t_1} \\ a_3 / (1+r)^{t_2} \end{pmatrix} $

- Compute the sum of the values of $M$ using "M.sum()"

Note: I am using subscripts to denote the individual elements of $a$ and $t$.
- In the code just enter the values of $a$ and $t$.
- To get full points you must do all of the above tasks

In [53]:
# Write your own code

r = 0.04
a = np.array([20,30,15])
t = np.array([0,1,2])
M = a/(1+r)**t
print(f'M: {M}')
print(f'Sum of M: {M.sum()}')

M: [20.         28.84615385 13.8683432 ]
Sum of M: 62.71449704142012